
.AppTitle {
  width: 100%;
  height: 36px;
  -webkit-app-region: drag;
  background: linear-gradient(rgba(245,245,245, 1), rgba(255,255,255, 1));
  border-bottom: 1px solid #fafafa;
  position: absolute;
  top: 0px;
  left: 0px;
}

.AppTitle:active {
  background: linear-gradient(rgba(245,245,245, 1), rgba(245,245,245, 1));
}

.darkmode .AppTitle {
  background: linear-gradient(rgba(23,23,23, 1), rgba(37,37,37, 1));
  border-bottom-color: rgba(30,30,30, 1);
}

.darkmode .AppTitle:active {
  background: linear-gradient(rgba(23,23,23, 1), rgba(23,23,23, 1));
}

.AppTitle img {
-webkit-app-region: drag;
  height: 20px;
  padding: 8px 20px;
}

.AppTitle.AppTitleOSX img {
  display: block;
  margin: auto;
}

.AppTitleSpacer {
  width: 100%;
  height: 36px;
}
