
.AppTitle {
  width: 100%;
  height: 32px;
  -webkit-app-region: drag;
  background: linear-gradient(rgba(200,200,200, 0.2), rgba(200,200,200, 0));
  border-bottom: 1px solid #fafafa;
}

.darkmode .AppTitle {
  background: linear-gradient(rgba(25,25,25, 1), rgba(37,37,37, 1));
  border-bottom-color: rgba(30,30,30, 1);
}

.AppTitle img {
  height: 20px;
  padding: 6px 20px;
}
