.SettingsTab {

}

.darkmode .SettingsTab h5 {
  color: #fff;
}

.prefItem.theme {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.themeScreen {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 3px;
}

.themeScreen img {
  height: 18px;
}

.themeScreenElement {
  width: 50px;
  height: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.darkTheme, .lightTheme {
  border: 2px solid transparent;
  cursor: pointer;
  flex: 1;
}

.darkTheme .themeScreen {
  background: #333;
}

.darkTheme .themeScreenElement {
  background: #222;
}

.lightTheme .themeScreen {
  background: #fff;
}

.lightTheme .themeScreenElement {
  background: #eee;
}

.themeActive {
  border: 2px solid #76c3e8;
  border-radius: 15px;
}
