.AddonItem {
  color: #555;
  position: relative;
}

.AddonItem h5 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #444;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.AddonItem p {
  font-size: 0.85em;
}

.AddonItem .AddonConfigure {
  position: absolute;
  right: 0px;
  top: -3px;
  cursor: pointer;
  opacity: 0;
  transform: rotate(0deg);
  transition: 300ms all;
  transition-delay: 200ms;
}

.AddonItem .AddonConfigure path {
  fill: #222;
}
.darkmode .AddonItem .AddonConfigure path {
  fill: #fff;
}

.AddonItem:hover .AddonConfigure {
  opacity: 0.8;
  transform: rotate(180deg);
}

.darkmode .AddonItem h5 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #aaa;
  text-transform: uppercase;
  margin-bottom: 3px;
}


.imageCarrier {
  width: 160px;
  max-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  opacity: 0.8;
  transition: 200ms all;
  line-height: 0px;
}

.imageCarrier:hover {
  opacity: 1;
}

.linkCarrier {
  padding: 10px;
  border-radius: 5px;
  color: rgba(0,0,0,0.6);
  border: 1px solid #68aff1;
  display: block;
  background: #bbdeff;
  margin-bottom: 10px;
}
