.SheetsTab {
  padding: 0px 20px;
  width: 305px;
}

.SheetsTab h4 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #333;
  position: relative;
  top: -3px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.SheetsTab .sub {
  font-size: 0.9rem;
  line-height: 1.4em;
  color: #111;
}

.sheetItem {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 8px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 16px -4px;
  border-radius: 10px;
  opacity: 0.8;
  transition: 200ms all;
}

.sheetItem:hover {
  opacity: 1;
}

.sheetItem .sheetRight {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.sheetIcon {
  width: 24px; height: 20px;
  position: relative;
  top: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 10px;
}

.sheetItem .sheetRight {
  font-size: 1em;

  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  width: 100%;
  display: block;
}

.sheetItem .sheetRight span {
  line-height: 1.5em;
  color: #222;
  font-weight: 600;
}

.sheetItem img {
  width: 20px;
  height: 20px;
}
