.SheetsTab {
  padding: 0px 20px;
  width: 305px;
}

.SheetsTab h4 {
  font-size: 1.4em;
  font-weight: 600;
  color: #333;
  position: relative;
  top: -3px;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 50px;
}

.SheetsTab .sub {
  font-size: 0.9rem;
  line-height: 1.4em;
  color: #111;
}

.sheetItem {
  cursor: pointer;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px -4px;
  background: #f2f3f5;
  border-radius: 5px;
  transition: 150ms all;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.sheetItem:hover {
  box-shadow: rgba(30, 30, 30, 0.15) 0px 4px 10px -4px;
  background: #fff;
}

.sheetItem .sheetRight {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}


.sheetItem .sheetRight {
  font-size: 1em;
  display: block;
}

.sheetItem .sheetRight span {
  line-height: 1.5em;
  font-weight: 600;
}

.sheetItem .sheetRight .sub {
  font-weight: normal;
  font-size: 0.9em;
  opacity: 0.7;
}

.sheetItem img {
  width: 20px;
  height: 20px;
}
