.Toolbar {
  width: 50px;
  border: 0px;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 0px;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
  z-index: 99;
  border-radius: 0px 0px 0px 0px;
  transition: 300ms width;
  user-select: none;
  -webkit-user-select: none;
}

.darkmode .Toolbar {
  background: #222;
  box-shadow: rgba(0, 0, 0, 0.3) -2px 0px 16px -4px;
}

.Menu {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Menu .Top, .Menu .Bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Menu .Item {
  cursor: pointer;
  background: #fff;
  width: 24px;
  height: 24px;
  padding: 10px;
  margin: 3px;
  position: relative;
  transition: 200ms all;
  border-radius: 25px;
}

.Menu .ItemActive {
  background: #f1f1f1;
}

.darkmode .Menu .Item {
  background: #222;
}

.darkmode .Menu .ItemActive {
  background: #444;
}

.Menu .Item.Search {
  width: 374px;
  background: transparent;
}

.Item svg {
  fill: #242938;
}

.darkmode .Item svg {
  fill: #ccc;
}

.Menu .Item .ToolTip {
  position: absolute;
  top: -1px;
  left: -90px;
  visibility: hidden;
  opacity: 0;
  width: 80px;
  height: 20px;
  margin: 15px 0px;
  background: rgba(0,0,0,0.8);
  text-align: center;
  transition: 100ms all;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.60em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition-delay: 0ms;
}

.darkmode .Menu .Item .ToolTip {
  background: #fff;
  color: #444;
}

.Menu .Item .ToolTip:before {
  content:"\A";
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent rgba(0,0,0,0.8);
  position: absolute;
  right: -6px;
}

.darkmode .Menu .Item .ToolTip:before {
  border-color: transparent transparent transparent rgba(255,255,255,1);
}

.Menu .Item img {
  opacity: 0.8;
  transition: 200ms all;
}

.Menu .Item:hover img {
  opacity: 1;
}

.Menu .Item:hover .ToolTip {
  opacity: 1;
  visibility: visible;
  left: -85px;
  transition-delay: 150ms;
}


.tabContent {
  width: 345px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  transition: 200ms all;
}

.shadow {
  background: rgba(0,0,0,0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 97;
  visibility: visible;
  transition: 300ms all;
}
