.AddonItem {
  color: #555;
  position: relative;
}

.AddonItem h5 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #444;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.AddonItem p {
  font-size: 0.85em;
}

.AddonItem .AddonConfigure {
  position: absolute;
  right: 0px;
  top: -3px;
  cursor: pointer;
  opacity: 0;
  transform: rotate(0deg);
  transition: 300ms all;
  transition-delay: 200ms;
}

.AddonItem .AddonConfigure path {
  fill: #222;
}
.darkmode .AddonItem .AddonConfigure path {
  fill: #fff;
}

.AddonItem:hover .AddonConfigure {
  opacity: 0.8;
  transform: rotate(180deg);
}

.darkmode .AddonItem h5 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #aaa;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.calculatedNode {
  background: #e3d3f9;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #dac9ea;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #8d5f92;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  letter-spacing: -0.5px;
}

.darkmode .calculatedNode{
  background: #26162d;
  border: 1px solid #562671;
  color: #87498e;
}
