.Handy {
  background: #fff;
  width: 200px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: inset -1px 0 2px rgba(0,0,0,.05);
}

.darkmode .Handy {
  background: #222222;
}

.HandyInner {
  padding: 0px 15px;
  margin-top: 0px;
  font-size: 1em;
}

.HandyFixed {
  position: sticky;
  top: 0px;
  left: 0px;
  width: calc(100% - 10px);
  height: 35px;
  /* background: linear-gradient(rgba(250,250,250, 1), rgba(250,250,250, 1), rgba(250,250,250, 0)); */
  z-index: 96;
}

.darkmode .HandyFixed {
  background: transparent;
}

div.HandyInner > div:nth-child(1) > h5 {
  padding-top: 0px;
  margin-top: 0px;

}
