.Handy {
  width: 225px;
  position: -webkit-sticky;
  position: absolute;
  right: 0px;
  padding: 10px 0px;
}

.HandyInner {
  padding: 0px 15px;
  margin-top: 0px;
  font-size: 1em;
}

.HandyInnerApp {
  position: relative;
  top: -36px;
}

div.HandyInner > div:nth-child(1) > h5 {
  padding-top: 0px;
  margin-top: 0px;

}
