.ArchivesTab {
  padding: 0px 20px;
  width: 305px;
}

.ArchivesTab h4 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #444;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.ArchivesTab .sub {
  font-size: 0.9rem;
  line-height: 1.4em;
  color: #444;
}
