.App {
  width: calc(100% - 50px);
}

.Note {
  height: auto;
  margin-left: 200px;
  width: calc(100% - 200px);
}

.title {
  padding: 0px 20px;
  margin-bottom: 0px;
}

.Identifier {
  padding: 15px 20px;
  opacity: 0.5;
  font-size: 0.9em;
}

.spacer {
  height: 60vh;
}

#trash {
  background: red;
  margin: 0px;
  padding: 0px;
  height: 0px;
  overflow: hidden;
}

#trash textarea {
  height: 0px !important;
}
