.App {
  width: calc(100% - 50px);
}

.Note {
  height: auto;
}

.Identifier {
  padding: 15px;
  opacity: 0.5;
  font-size: 0.9em;
}

#trash {
  background: red;
  margin: 0px;
  padding: 0px;
  height: 0px;
  overflow: hidden;
}

#trash textarea {
  height: 0px !important;
}
