.AppHolder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.Note {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.darkmode .Note {
  background: #252525;
}

.Content {
  width: calc(100% - 50px);
  height: 100%;
  top: 10px;
  transition: 100ms top, 100ms opacity;
  transition-timing-function: linear;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
  opacity: 0;
}

.ContentLoaded {
  top: 0px;
  opacity: 1;
}

.darkmode .Content {
  background: #252525;
}

.Identifier {
  padding: 10px 20px;
  color: #787878;
  font-size: 0.85em;
}

.darkmode .Identifier {
  color: #aaa;
}

.spacer {
  height: 60vh;
}
.rightSpacer {
  width: 15px;
  height: 100vh;
}

#dummy {
  background: red;
  margin: 0px;
  padding: 0px;
  height: 0px;
  overflow: hidden;
}

#dummy textarea {
  height: 0px !important;
}
