* {
  -webkit-user-drag: none;
  user-drag: none;
	-webkit-app-region: no-drag;
}

body, html, textarea, input {
  font-family: "Rubik", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
  overflow: hidden !important;
  background: #fff;
  font-size: 16px;
}

body, input, textarea {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #242938;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
    width: calc(100% - 42px);
    border: 0px;
    outline: 0px !important;
    resize: none !important;
    padding: 0px 20px;
    padding-top: 9px;
    margin: 0px !important;
    line-height: 1.5em;
    color: #242938;
}

a {
  text-decoration: none;
}
