body, html, textarea, input {
  font-family: "Rubik", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body {
  overflow: hidden !important;
  background: #f7f8fa;
  font-size: 16px;
}

body, input, textarea {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
    width: calc(100% - 62px);
    border: 0px;
    outline: 0px !important;
    resize: none !important;
    padding: 3px 30px;
    padding-top: 6px;
    margin: 0px !important;
    line-height: 1.5em;
    color: #303030;
}
