<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
ErrorDocument 404 /404.php

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^login/(.*) login.php?development=$1 [QSA,L]
RewriteRule ^logout/(.*) logout.php?type=$1 [QSA,L]
RewriteRule ^github/(.*) github.php?type=$1 [QSA,L]
</IfModule>
